/* Widget Styles */

.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
	color:black!important;
}

.mc4wp-form-fields p {
	font-family: "Roboto", Sans-serif;
	font-size:12px;
	font-weight:normal;
	padding:0px;
}
.mc4wp-form-fields p {
	padding-bottom:0px;
	margin-bottom:0px;
}

.mc4wp-form-fields p label {
	padding-bottom:0px!important;
	margin:0;
}


.mc4wp-form-fields:nth-child(3){
   display:none!important;
}

/* Left Sidebar Style */

.wpbf-sidebar .widget {
	background-color:#07527D!important;
	color:#ccc!important;
}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {
	background-color:#07527D!important;
}

.wpbf-sidebar .widget a {
	color:white!important;
}

.wpbf-sidebar .widget a:hover {
	color:yellow!important;
}

.wpbf-sidebar h4 {
	color:white;
	font-weight:bold;
}
.wpbf-sidebar table caption {
	font-size:20px;
	font-weight:bold;
	color:white;
}

/* Navigation Style */
.wpbf-navigation{
	background-color:black!important;
	color:white;
	height:53px;
	border:0px;
	padding:0px;
	margin-top:-10px;
}


.wpbf-navigation li.current-menu-item, .wpbf-navigation li.menu-item:hover {
	background-color:#01537D;
}


.wpbf-navigation li.menu-item a {
	color:white!important;
}

.wpbf-navigation li {
	background-color:black;
}


.wpbf-nav-wrapper {
	padding-top:5px!important;
}

/* Logo Styling */

.wpbf-logo a, .wpbf-mobile-logo-container a {
	color:white!important;
}

.wpbf-logo a:hover, .wpbf-mobile-logo-container a:hover {
	color:yellow!important;
}

.elementor-element-2ff0216 .elementor-image img {
	border:3px solid white!important;
}

.elementor-element-2ff0216 .elemntor-widget:hover {
	background-color:yellow;
}

/* Home Style Changes */

body.home h1.entry-title {
	display:none!important;
}

@media (max-width: 1150px) { 
	#menu-step-by-step-menu li {
		margin-right:5px;
	} 
}

@media (max-width: 1000px) { 
	#menu-step-by-step-menu {
		min-width:500px;
	} 
}

.welcome {
	width:100%!important;
	margin-top:20px;
}

.welcome p {
	padding:0!important;	
}

/* Stages Menu Changes */

#stages {
	text-align:center;
  list-style:none;
  float:left;
	width:100%;
	min-width:700px!important;
	clip-path: inset(0px 25px 0 40px);
}

#stages li:hover {
  background-color:#E78B21;
  color:black!important;
}
#stages li {
  background-color:#07527D;
  float:left;
  width:110px;
	line-height:110%;
  height:85px;
  margin-right:25px;
  text-align:center;
  padding-top:12px;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}

#stages li:nth-child(1) {
  color:#3AA9E3;
}
#stages li:nth-child(2) {
  color:#D5E220;
}
#stages li:nth-child(3) {
  color:#E78B21;
}
#stages li:nth-child(4) {
  color:#62A452;
}
#stages li:nth-child(5) {
  color:#9CD3F2;
}

#stages li em {
  font-style:normal;
  color:white;
  font-weight:normal;
  padding-top:3px;
  display:block;
}

@media (max-width: 699px) { 
	
	#stages li {
		float:none;
		display:block;
		margin-bottom:10px;
		margin-left:50px;
	}
	
	#stages {
		width:100%;
		text-align:center;
	}
	h1 {
		font-size:1.5em;
	}
}

/* hide featured image */

.wpbf-datasheet-content .article-header img.wpbf-post-image{
 display:none;
}

/* Home Page Styling */

body.home h2.elementor-heading-title {
	padding-top:.5em;
	padding-bottom:.5em;
	display:block;
}

body.home .elementor-element-7dddfa0 h2.elementor-heading-title, h6.elementor-heading-title {
	padding-bottom:0px;
	line-height:.25em;
}

.elementor-element-2ff0216 img {
	margin:-20px auto;
}

#wp-calendar td{
	text-align:center;
	padding:0px;
	
}

#wp-calendar a {
	display:block;
	width:100%;
	height:100%;
	background-color:lightblue;
}

.elementor-element-d205fae #wc-shortcodes-featured-posts-1 h6 {
	line-height:1.5em;
	font-weight:normal;
	margin-left:15px;
}
.elementor-element-d205fae  .wc-shortcodes-featured-posts-content {
	margin:0!important;
	padding:0;
	padding-bottom:15px;
}

/* News Page */
select.js-wpv-filter-trigger {
	height:50px;
}
#respond {
	display:none;
}
p.footer-categories {
	display:none;
}

article.monthly-newsletter header {
	display:none;
}

#masthead{
	width:100%;
	background: center -30px url("/wp-content/uploads/2019/05/CTSO-Banner-with-logos.jpg") no-repeat;
	text-align:center;
	height:125px;
}
article.monthly-newsletter {
	max-width:1550px!important;
	margin:0 auto;
}


/* Usability Menu */

body .userway.userway_p1 {
	top:50px!important;
}
